In [5]:
import pandas as pd
import matplotlib as plt

In [4]:
file = pd.read_csv("Задание 5.0 2 версия.xlsx - Sheet 1.csv")
file.head()

,FIO,Месяц,Профессия,Разряд,Оборудование,Вредность (балл.),Объем производства,Доход
0,Абрамов Е. Д.,января 2009,Уборщик,3,Пилигримовые станы,18,580,16 638
1,Абрамов Е. Д.,февраля 2009,Уборщик,3,Пилигримовые станы,18,790,16 638
2,Абрамов Е. Д.,марта 2009,Уборщик,3,Пилигримовые станы,18,820,16 638
3,Абрамов Е. Д.,апреля 2009,Уборщик,3,Пилигримовые станы,18,1200,19 396
4,Абрамов Е. Д.,мая 2009,Уборщик,3,Пилигримовые станы,18,1250,19 790